<h1>✈️ Flight Booker</h1>

<%= form_with model: @flight, method: :get do |f| %>
  <%= f.select(:departure_id, @airport_options) %>
  <%= f.select(:arrival_id, @airport_options) %>
  <%= 'departure_date' %>
  <%= f.select(:num_passengers, [1, 2, 3, 4]) %>
  <%= f.submit 'Search' %>
<% end %>

<% @searched_flights.each do |flight| %>
  <div class= 'flight' >
    <div class= 'code'><%= flight.departure_airport.code + ' - > - ' + flight.arrival_airport.code %><br></div>
    <%= flight.departure_time.to_date %>
    <%= ' - Flight time: ' + flight.duration.to_s + 'hrs' %>
    <br><br>
  </div>
<% end %>
